
/* Navbar had a lot of space in the middle, 
 * adjusted padding to bring brand img and menu closer together. 
 * DOES NOT AFFECT RESPONSIVENESS
*/

 /*
.navbar-inner {
	padding: 0 40px 0 40px;
}    */

/* scroll to top button was being hidden by media share toolbar
 * so I moved it down by 10%.
 */


/******* home video *********/
#home-video {
	padding: 0 !important;
}
.scrolltop {
	top:70% !important;
	right:20px;
	text-transform:capitalize;
	border-color:#303030;
}
#free-tool {
	font-weight:bold;
    font-family:Florence, cursive;;
	color:orange;
	text-transform:uppercase;
}
.home-full h3 {
	margin-top: 0 !important;
	text-shadow: none;
}
#video-links {
	width:100%;
	padding-bottom:-20px !important;
	text-align:left;
	text-transform:capitalize;
}
#video-tool {
	padding:0;
	margin:0;
}
#video-box {
	height:200px;
	min-height:180px;
	width:225px;
}
#video-header:hover {
	color:black !important;
}
/* brand footer */
#pullqt {
	background-color:#f9f9f9;
	padding: 3% 0%;
}
/* faq page */

#faq-label {
	font-size:16px;
}
.control-group {
	margin-bottom:0 !important;
}
#FAQ-DROPDOWN {
	width:80%;
	height:30px;
	border-color:#303030;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #f6f8f9 49%, #d7dee3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(49%,#f6f8f9), color-stop(100%,#d7dee3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#f6f8f9 49%,#d7dee3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#f6f8f9 49%,#d7dee3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#f6f8f9 49%,#d7dee3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#f6f8f9 49%,#d7dee3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#d7dee3',GradientType=0 ); /* IE6-9 */
}
#FAQ-DROPDOWN option {
	color:#303030;
}

/* features */
#features h3,#features h2 {
	margin-top:-5px;
}
#features .tab-pane img {
    margin-top: 0px !important;
}
#features .span6:nth-child(2) {
	padding-top:30px;
}

.team-member-img{
	margin: 15%;
}