
body{
    background: #ffffff; /* Old browsers */
/*
        background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); *//* FF3.6+ *//*
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); *//* Chrome,Safari4+ *//*
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); *//* Chrome10+,Safari5.1+ *//*
    background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); *//* Opera 11.10+ *//*
    background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); *//* IE10+ *//*
    background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); *//* W3C *//*
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); *//* IE6-9 */
}

#home-page{
    background: #f3f3f3 url(img/pattern1.png);
}



.btn-success,
.navbar .nav .gr-btn{
    background: #4dae45; /* Old browsers */
background: -moz-linear-gradient(top,  #4dae45 0%, #309328 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4dae45), color-stop(100%,#309328)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4dae45 0%,#309328 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4dae45 0%,#309328 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4dae45 0%,#309328 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4dae45 0%,#309328 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dae45', endColorstr='#309328',GradientType=0 ); /* IE6-9 */

}

.btn-success:hover, 
.btn-success:focus,
.navbar .nav .gr-btn:hover,
.navbar .nav .gr-btn:focus
{
    background: #309328; /* Old browsers */
background: -moz-linear-gradient(top,  #309328 0%, #4dae45 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#309328), color-stop(100%,#4dae45)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #309328 0%,#4dae45 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #309328 0%,#4dae45 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #309328 0%,#4dae45 100%); /* IE10+ */
background: linear-gradient(to bottom,  #309328 0%,#4dae45 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309328', endColorstr='#4dae45',GradientType=0 ); /* IE6-9 */



}




.navbar .nav .org-btn{
    background: #fb9703; /* Old browsers */
background: -moz-linear-gradient(top,  #fb9703 0%, #cd7b02 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb9703), color-stop(100%,#cd7b02)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fb9703 0%,#cd7b02 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fb9703 0%,#cd7b02 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fb9703 0%,#cd7b02 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fb9703 0%,#cd7b02 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9703', endColorstr='#cd7b02',GradientType=0 ); /* IE6-9 */



}


.navbar .nav .org-btn:hover,
.navbar .nav .org-btn:focus
{
    background: #cd7b02; /* Old browsers */
background: -moz-linear-gradient(top,  #cd7b02 0%, #fb9703 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd7b02), color-stop(100%,#fb9703)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cd7b02 0%,#fb9703 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cd7b02 0%,#fb9703 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cd7b02 0%,#fb9703 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cd7b02 0%,#fb9703 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd7b02', endColorstr='#fb9703',GradientType=0 ); /* IE6-9 */

}



.features-tabs .tab-pane{
    padding-left: 50px;
    min-height: 950px;
    

}

.features-tabs .tab-pane > .row-fluid{
    margin-bottom: 30px;
}

.span6{
    /*background: yellow;*/
}

#aboutus, 
#features{
    padding-top: 60px;
}

.tabs-left > .nav-tabs {
    border:0px;
}

.tabs-left > .nav-tabs > li > a{
    min-width: 190px;
    border-radius: 0px;
    color:#333;
}

.tabs-left > .nav-tabs > li > a:hover{
    
    border-color: transparent;
    color:#257894;
}




.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover{
    border:0px;
    background:transparent;
}

.nav-tabs > .active > a,
.tabs-left > .nav-tabs > li.active > a{
    color:#1D8031;
}

#home-features{
    border-top: 1px solid #fff;
}

#features h3{
    font-weight: normal;
    margin-bottom: 4px;
}

#features .tab-pane img{
    margin-top: 15px;
}

#features .tab-pane p{
    width: 90%;
    font-size: 1.1em;
    line-height: 180%;
    text-align: justify;

}

.title-name{
    font-weight: 800;
}

.title{
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
}


/*Home*/


.section_header{
    margin-top: 30px;
}

h1.section_header {
    font-weight: 500;
    text-shadow: white 2px 2px 1px;
}


#home-features .row-fluid{
    margin-bottom: 30px;
    margin-top: 30px;
}

#home-features > .container > .row-fluid:nth-child(2){
    margin-top: 60px;
}

.feature-wrapper{
    max-width: 93%;
    border-radius: 6px;
    background-color: #fafafa;
    /*border: 1px solid #d9d9d9;
    box-shadow: 0px 0px 2px 1px #D8D8D8 ;*/
    min-height: 260px;
    margin-bottom: 15px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */





/*  transition:all 1s;
-webkit-transition:all 1s;
    transform:scale(1,1);
    -ms-transform:scale(1,1);
    -webkit-transform:scale(1,1);*/
}

/*
.feature-wrapper:hover{
    
    box-shadow: 0px 0px 2px 2px #D0D0D0;
    transform:scale(1.01,1.01);
    -ms-transform:scale(1.1,1.1);
    -webkit-transform:scale(1.05,1.05);

}
*/

.feature-wrapper h3{
    width: 100%;
    height: 45px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    color:#FFF;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    padding-top: 5px;


}



.feature-wrapper h3.dark{
    background-image:url(img/chart1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size:100%;

}

.feature-wrapper h3.green{
    background-image:url(img/chart2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-size:100%;
}

 a.feature_link{
    display: block;
    margin: 2px 0px 15px 10px;
}

#home-features .span4> .feature-wrapper> .span5{
    text-align: center;
    
    
}

#home-features .span4> .feature-wrapper> div.span6{
    float: none;
    display: inline-block;
}

#home-features .span4> .feature-wrapper> .span5 >img,
#home-features .span4> .feature-wrapper> .span4 >img {
        width: 90%;
}



ul.feature-list{
    list-style-image:url(img/check_small.png);
}

ul.feature-list li{
    font-size: 15px;
    margin-bottom: 3px;
    word-wrap:break-word;
}


 .controls hr {
    border-top: 1px solid #BEC0C3;
    border-bottom: 2px solid white;
}

 .controls hr.altn {
    border-top: 1px solid #D0D0D0;
    /*#BEC0C3;*/
    border-bottom: 2px solid #f0f0f0;
}





/* introduction heading section*/
.home-full {
    
    padding-top: 50px;
    padding-bottom: 35px;
    
}




.home-full .row-fluid{
    padding: 10px 0;
}

.home-full h1 {
    width: 83%;
    font-size: 28px;
    margin: 10px 0;
    color: #252B34;
    font-weight: normal;
    text-shadow: white 2px 2px 1px;
}

.home-full h2{
    font-size: 47px;
}

.home-full h3 {
    
    font-size: 22px;
    margin: 10px auto;
    color: #252B34;
    font-weight: 400;
    line-height: 120%;
    text-shadow: white 2px 2px 1px;
}


.home-full .span8 h3 a{
    display: block;
    width:80px;
    
}


.taglinebox {

    width: 97%;
    min-height: 70px;
    margin:30px auto;
    padding: 10px 10px 10px 20px;
    background:#F8F8F8;
    border-left:3px solid #218A3B;
    border-right:1px solid #E8E8E8;
    border-bottom:1px solid #E8E8E8;
    border-top:1px solid #E8E8E8;
    
}


.home-full .taglinebox >h1{
    font-size: 18px;
    font-weight: 600;
}

.home-full .taglinebox >h3{
    font-size: 17px;
}

.taglinebox .btn{
    margin-left: 30px;
}


#home-video{

    background: #ffffff; /* Old browsers */

        background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #D8D8D8;

}

#home-video .span8{
    padding: 3%;
}


#home-video ul{
    
    list-style-image:url('img/arrow-round.png');

}


#home-video ul li{
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;

}










/*Video*/

  .video{
          position: relative;
          padding-top: 25px;
          /*padding-bottom: 67.5%;*/
          /*width:300px;*/
          width:90%;
         height:168.75px;
         /* height: 300px;*/
          margin-bottom: 16px;
          overflow: hidden;
          border-radius: 5px;
          border: 20px solid #fafafa;
          -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
           -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
                box-shadow: 0 2px 5px rgba(0,0,0,.5);
          

          
        }

        .video iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }



         .video2{
          position: relative;
          padding-top: 25px;
          /*padding-bottom: 67.5%;*/
          width:300px;
         /* width:90%;*/
          height:168.75px;
          
          margin-bottom: 16px;
          overflow: hidden;
          border-radius: 5px;
          border: 20px solid #fafafa;
          -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
           -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
                box-shadow: 0 2px 5px rgba(0,0,0,.5);
          

          
        }

        .video2 iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

        }



#home-full-back{
    
    background-color:#E0E0E0;
    /*background-image:url(img/herobk.png);*/
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 450px;
}

#home-full-back h1{
    font-weight: 500;
    line-height: 140%;
    font-size: 23px;
    margin: 100px auto 50px auto;
    text-shadow: white 2px 2px 1px;
}
/*Changes made here by satya suman saridae on 13/09/2013 for text alignment in footer*/
#footer .span12>p{
    text-align: center;
    font-size: 11px;
    color:#C0C0C0;
}

#footer .span12 a{
    color:#C0C0C0;
}

#footer .span12 a:hover{
    color:#FFF;
}




#hero .carousel-inner .item {
    height: 400px;
}

#hero .carousel-inner .item img{
    margin-top: 5%;
}


.tabs-left > .nav-tabs > li.active > a,

.tabs-left > .nav-tabs > li > a:hover{

    background-color:#fff;
    background-image: url(img/k2A_Icons-13.png);
    background-repeat:no-repeat;
    background-position:center center;
    
}


@media screen and (max-width: 1200px){

    #features .tab-pane .span6{
        float: none;
        width: 100%;
        margin-left: 0px;
    }

}


@media screen and (max-width: 970px){

    #home-features .span4> .feature-wrapper> .span5 >img,
    #home-features .span4> .feature-wrapper> .span4 >img  {
        width: 65%;
    }

    #home-features .span4> .feature-wrapper> .span4{
        text-align: center;
        float: none;
        width: 100%;
    }
    #home-features .span4> .feature-wrapper> .span6{
        display: block;
        width: 100%;
    }

    #home-full-back{
        background-position: 0px 50px;
    }

    #hero .carousel-inner .item {
        height: 260px;
    }

    .tabs-left > .nav-tabs > li > a{
        min-width: 150px;
    }


    .tabs-left > .nav-tabs > li.active > a,

    .tabs-left > .nav-tabs > li > a:hover{

    
    background-image: url(img/k2A_Icons-13small.png);
    background-position: 3px 0px;
    background-size: 95% auto;
    
    
    }

       #hero .carousel-inner .item img{
            max-height: 240px;
        } 


}


@media screen and (max-width: 780px){
     #home-features .span4> .feature-wrapper> .span5 >img,
     #home-features .span4> .feature-wrapper> .span4 >img {
        width: 40%;
        }

        #home-features .span4> .feature-wrapper> .span6 ul.feature-list{
            width: 30%;
            margin: 0 auto;

        }

      #hero .carousel-inner .item img{
            max-height: 240px;
        }  

        .tabs-left > .nav-tabs > li.active > a,

    .tabs-left > .nav-tabs > li > a:hover{

    
    background-image: url(img/k2A_Icons-13small.png);
    
    
    }

}



@media screen and (max-width: 480px){


        .video{
          display: none;  
        }

            #home-full-back{
        background: inherit;
    }

       


}





/*Top-MessageBox*/

.overlay{
    position: fixed;
    margin-top: 50px;
    border: 1.5px solid #f0c36d;
    padding: 2px 6px 10px 10px;
    background: #f9edbe;
    width: auto;
    height: 13px;
    z-index: 100;
    color: #000;
    top: -5px;
    font-weight: normal;
    text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px #2f4f4f;
    -moz-box-shadow: 0 8px 6px -6px #2f4f4f;
    box-shadow: 0 8px 6px -6px #2f4f4f;
}
.overlay-content{
    float: left;
    width: 100%;
}
.overlay-close {
    position: relative;
    top: -30px;
    right: -5px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    color: #000000;
    opacity: 0.2;
}

.overlay-close:hover, .overlay-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#home-video .span4 {
    padding: 3%;
}
.launch_video {
    cursor: pointer;
}
.launch_video img {
    background: url(http://placehold.it/350x150);
    width: 300px;
    height: 200px;
}
.video_overlay, .video_overlay_pg, .video_overlay_md, .video_overlay_ta, .video_overlay_ex {
    position: fixed;
    border: 15px solid white;
    -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 30px 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.3);
    background: white;
    z-index: 10000;
    text-align: center;
    display: none;
}

.video-visible {
    display: block !important;
    top: 70px;
    left: 349.5px;
    visibility: visible;
}

.video_overlay .overlay-close, .video_overlay_pg .overlay-close, .video_overlay_md .overlay-close, .video_overlay_ta .overlay-close, .video_overlay_ex .overlay-close {
    position: absolute;
    background: url(img/close.png);
    width: 28px;
    height: 25px;
    top: -30px;
    right: -30px;
    z-index: 110;
    cursor: pointer;
    opacity: 1;
}


.img-pad-left{
    width: 31%;
    margin-left: -6px;
}
.text-pad-right{
    width: 69%;
}
ul.feature-list li{
    margin-left: -25px;
}
.featur-image{
    margin-left: -10px;
}

/* box-middle
=================================================================== */
.box-middle {
    max-width:60%;
    margin: 0px auto;
    padding: 20px;
    margin-top: 70px;
    background: #fff;
    color: #000;
    /* overflow: hidden;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
    -moz-box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
    box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
}
.box-middle hr{
    line-height:90%
}
.box-middle h2 {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.box-middle h3 {
    color: #646464;
    font-size: 18px;
    font-weight: 600;
}
.box-middle br {
    display: block;
    margin: 3px 0;
}

.box-middle p {
    margin: 10px 30px;
    font-weight: normal;
}

.box-middle .button-login {
    margin-top: 2px;
    float: right;
}

.box-middle .input-span12 {
    width: 495px;
}


/* Sticky footer styles
      -------------------------------------------------- */

html,
body {
    height: 95%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 74%;
    margin: 0 auto -120px;
}

.error-wrap {
    margin: auto !important;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	#wrap.devicespecific {
  		overflow: scroll;
		height: 381px;
	}
}

.animated>p{
	text-align: justify;
}
.TermsOfUse>li{
	text-align: justify;
}


span.header-sub {
    font-size: 30px;
    line-height: 35px;
    margin-left: -1px;
}