

@import "colors.less";


body{
	.green-grd;
}


#content {
	border-color: @light-green2;
	/*.blue-grd;*/
  .white-green-grd;
}

.nav-tabs.nav-stacked>li.active>a {
   
    border-color: @light-green2;
}

.nav-tabs.nav-stacked>li>a, .nav-tabs.nav-stacked>li>ul>li>a {
	color:@dark-green;
}


.lp-dropdown-menu li {
  .box-shadow(2px; 2px);
}


 .dropdown-menu > li >a:hover, 
  .dropdown-menu > li >a:focus,
  .dropdown-submenu:focus, 
  .dropdown-submenu:hover, 
  .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-submenu:hover > a {
	background: @medium-green;
}



thead{
   
}


.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
background-color: @light-gray;
}


.table-striped tbody > tr:hover >td{
    background:@light-green;
}


.popover-content{
	.blue-grd;
}


.tooltip-inner 

{

background-color: @tooltip-color; 
color: #fff;
box-shadow:1px 1px 2px #888;

}

.tooltip.top .tooltip-arrow 

{border-top-color: @tooltip-color;}


.tooltip.bottom .tooltip-arrow,

.tooltip.right .tooltip-arrow, 

.tooltip.left .tooltip-arrow 

{border-bottom-color: @tooltip-color;}