



/*Primary Colors */


@tooltip-color:#73c94c;



@dark-green:#008000;
@light-green:#e0f0cb;
@light-green2:#b4e8a6;
@medium-green:#83d06a;
@medium-green2:#93db7e;

@drk-gray:#b1b8b0;

@light-gray:#f0f0ee;




.box-shadow (@x: 0; @y: 0; @blur: 5px; @color: #666) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.box-shadow2 (@x: 0; @y: 0; @blur: 1px; @color: #888) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}



.white-green-grd{
background: #ffffff; /* Old browsers */
/*background: -moz-linear-gradient(top,  #ffffff 86%, #b4e8a6 100%); *//* FF3.6+ *//*
background: -webkit-gradient(linear, left top, left bottom, color-stop(86%,#ffffff), color-stop(100%,#b4e8a6)); *//* Chrome,Safari4+ *//*
background: -webkit-linear-gradient(top,  #ffffff 86%,#b4e8a6 100%); *//* Chrome10+,Safari5.1+ *//*
background: -o-linear-gradient(top,  #ffffff 86%,#b4e8a6 100%); *//* Opera 11.10+ *//*
background: -ms-linear-gradient(top,  #ffffff 86%,#b4e8a6 100%); *//* IE10+ *//*
background: linear-gradient(to bottom,  #ffffff 86%,#b4e8a6 100%); *//* W3C *//*
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b4e8a6',GradientType=0 ); *//* IE6-9 */

}


.blue-grd{
	background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 81%, #e8f0f4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(81%,#feffff), color-stop(100%,#e8f0f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffff 81%,#e8f0f4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffff 81%,#e8f0f4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffff 81%,#e8f0f4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffff 81%,#e8f0f4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#e8f0f4',GradientType=0 ); /* IE6-9 */



}



.green-grd{
	background: #e0f0cb; /* Old browsers */
background: -moz-linear-gradient(top,  #e0f0cb 67%, #b7dbad 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#e0f0cb), color-stop(91%,#b7dbad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0f0cb 67%,#b7dbad 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0f0cb 67%,#b7dbad 91%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0f0cb 67%,#b7dbad 91%); /* IE10+ */
background: linear-gradient(to bottom,  #e0f0cb 67%,#b7dbad 91%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f0cb', endColorstr='#b7dbad',GradientType=0 ); /* IE6-9 */

}



.back-grd{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  rgba(234,247,239,1) 1%, rgba(255,255,255,1) 15%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(234,247,239,1)), color-stop(15%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(234,247,239,1) 1%,rgba(255,255,255,1) 15%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(234,247,239,1) 1%,rgba(255,255,255,1) 15%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(234,247,239,1) 1%,rgba(255,255,255,1) 15%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(234,247,239,1) 1%,rgba(255,255,255,1) 15%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf7ef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.block-grd{

background: -moz-linear-gradient(top,  rgba(255,255,255,0) 35%, rgba(244,251,247,0) 70%, rgba(234,247,240,0.37) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(255,255,255,0)), color-stop(70%,rgba(244,251,247,0)), color-stop(100%,rgba(234,247,240,0.37))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 35%,rgba(244,251,247,0) 70%,rgba(234,247,240,0.37) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 35%,rgba(244,251,247,0) 70%,rgba(234,247,240,0.37) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 35%,rgba(244,251,247,0) 70%,rgba(234,247,240,0.37) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 35%,rgba(244,251,247,0) 70%,rgba(234,247,240,0.37) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#5eeaf7f0',GradientType=0 ); /* IE6-9 */



	
}





.trans-grd{
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 55%, rgba(255,255,255,0.82) 68%, rgba(255,255,255,0.37) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(255,255,255,1)), color-stop(68%,rgba(255,255,255,0.82)), color-stop(100%,rgba(255,255,255,0.37))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,255,255,0.82) 68%,rgba(255,255,255,0.37) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,255,255,0.82) 68%,rgba(255,255,255,0.37) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 55%,rgba(255,255,255,0.82) 68%,rgba(255,255,255,0.37) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 55%,rgba(255,255,255,0.82) 68%,rgba(255,255,255,0.37) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5effffff',GradientType=0 ); /* IE6-9 */
}


.gray-grd{
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 54%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 54%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 54%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 54%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 54%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */


}


.gray-grd-hr{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 82%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(82%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 82%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 82%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 82%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 82%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=1 ); /* IE6-9 */

}



.base-grd-vrt{
	background: rgb(66,146,143); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(66,146,143,1) 0%, rgba(83,185,180,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(66,146,143,1)), color-stop(100%,rgba(83,185,180,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(66,146,143,1) 0%,rgba(83,185,180,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(66,146,143,1) 0%,rgba(83,185,180,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(66,146,143,1) 0%,rgba(83,185,180,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(66,146,143,1) 0%,rgba(83,185,180,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#42928f', endColorstr='#53b9b4',GradientType=0 ); /* IE6-9 */

}





.trans-grd2{
	
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 70%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 72%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,rgba(255,255,255,1)), color-stop(71%,rgba(255,255,255,1)), color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 70%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 72%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */



}




