



/*Primary Colors */


@base-green:#4dae45;

.right-arrow(@radius){
	border-top-right-radius: @radius;
	border-bottom-right-radius:@radius;

}


.green-grd{
	background: #4dae45; /* Old browsers */
background: -moz-linear-gradient(top,  #4dae45 0%, #309328 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4dae45), color-stop(100%,#309328)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4dae45 0%,#309328 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4dae45 0%,#309328 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4dae45 0%,#309328 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4dae45 0%,#309328 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dae45', endColorstr='#309328',GradientType=0 ); /* IE6-9 */

}

.green-btn-grd{
background: #b4e391; /* Old browsers */
background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */



}


.gray-grd{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 37%, #f6f6f6 93%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#ffffff), color-stop(93%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 37%,#f6f6f6 93%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 37%,#f6f6f6 93%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 37%,#f6f6f6 93%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 37%,#f6f6f6 93%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */


}

.tw-grd{
	background: #72dbff; /* Old browsers */
background: -moz-linear-gradient(top,  #72dbff 0%, #00bfff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72dbff), color-stop(100%,#00bfff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #72dbff 0%,#00bfff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72dbff', endColorstr='#00bfff',GradientType=0 ); /* IE6-9 */

}


.hot-grd{
  background: #72dbff; /* Old browsers */
  background: -moz-linear-gradient(top,  #72dbff 0%, #00bfff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72dbff), color-stop(100%,#00bfff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #72dbff 0%,#00bfff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #72dbff 0%,#00bfff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72dbff', endColorstr='#00bfff',GradientType=0 ); /* IE6-9 */

}

.in-grd{
	background: #2a9cc1; /* Old browsers */
background: -moz-linear-gradient(top,  #2a9cc1 0%, #007db7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a9cc1), color-stop(100%,#007db7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #2a9cc1 0%,#007db7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2a9cc1 0%,#007db7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2a9cc1 0%,#007db7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2a9cc1 0%,#007db7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a9cc1', endColorstr='#007db7',GradientType=0 ); /* IE6-9 */

}

.gl-grd{
   background: #719ee2; /* Old browsers */
   background: -moz-linear-gradient(top,  #719ee2 0%, #0b62e5 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#719ee2), color-stop(100%,#0b62e5)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #719ee2 0%,#0b62e5 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #719ee2 0%,#0b62e5 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #719ee2 0%,#0b62e5 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #719ee2 0%,#0b62e5 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#719ee2', endColorstr='#0b62e5',GradientType=0 ); /* IE6-9 */

 }

.y-grd{
  background: #B366B3; /* Old browsers */
  background: -moz-linear-gradient(top,  #B366B3 0%, #660066 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B366B3), color-stop(100%,#660066)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #B366B3 0%,#660066 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #B366B3 0%,#660066 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #B366B3 0%,#660066 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #B366B3 0%,#660066 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B366B3', endColorstr='#660066',GradientType=0 ); /* IE6-9 */

}