

@import "colors2.less";








#faq .faq:hover .number {
	background-color: @base-green;
	
}
#faq .faq:hover .question {
	color:@base-green;
}

#box_login .box .social a.tw_login{
	.tw-grd;
}

#box_login .box .social a.hot_login{
  .hot-grd;
}

#box_login .box .social a.y_login{
  .y-grd;
}

#box_login .box .social a.in_login{
	.in-grd;
}

#box_login .box .social a.g_login{
	.gl-grd;
}

#box_login .box .social a.tw_login:hover{
	background:#00bfff;
}

#box_login .box .social a.in_login:hover{
	background:#007db7;
}

#box_login .box .social a.g_login:hover{
	background:#0b62e5;
}

#box_login .box .social a.hot_login:hover{
  background:#00bfff;
}

#box_login .box .social a.y_login:hover{
  background:#993399;
}