/* Retina Display Hack
=================================================================== */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
	.timeslot .task .arrow {
		background: url(img/timeline-left-arrow-2x.png) no-repeat;
		background-size: 100%;
	}
	
	.timeslot.alt .task .arrow {
		background: url(img/timeline-right-arrow-2x.png) no-repeat;
		background-size: 100%;
	}
	
	ul.chat li.left .message .arrow {
		/*background: url(img/chat-left-2x.png) no-repeat 0px 0px;*/
		background-size: 100%;
	}

	ul.chat li.right .message .arrow {
		background: url(img/chat-right-2x.png) no-repeat 0px 0px;
		background-size: 100%;
	}
	    
}