<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Kid 2 Adult</title>
    <style type="text/css">
        body{
            font-family: sans-serif;
        }
        a:hover { text-decoration: none !important; }
        .content h2 {font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 22px; font-family: sans-serif;}
        .content p {font-size: 15px; }
        .content a {color: blue; text-decoration: none;}

    </style>
</head>
<body style="margin: 0; padding: 0; background:#e0f0cb;">
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 30px 0 35px; background:#e0f0cb;">

    <tr>
        <td align="center" style="font-family: sans-serif; padding: 0;" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="610" style="background: #000;" class="header">
                <tr>
                    <td width="22">&nbsp;</td>
                    <td style="margin: 0; padding: 15px 0 10px; color="#fff"; align="left" valign="bottom">
                    <img src="http://www.kid2adult.com/css/img/logo/logo_cap.png" alt="Kid 2 Adult " width="30%" />

                    </td>
                </tr>
            </table><!-- header-->
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="610px" style="background:#b4e8a6;" >

                <tr>
                    <td width="2" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                    <td width="599" valign="top" align="left" style="padding-bottom: 45px; padding-top: 25px" bgcolor="#fff" class="content">
                        <table cellpadding="0" cellspacing="0" border="0"  style="color: #fff; margin: 0; padding: 0;" width="599" >

                            <tr>
                                <td width="20" style="font-size: 1px; line-height: 1px;"><p>&nbsp;</p></td>
                                <td style="line-height: 150%; padding: 10px 0 0; color: #555555;" align="left">
                                    <p>Hey there,</p>
                                    <p>{{note}}</p>
                                    <p>
                                        I just had to share this Kid2Adult app I found with you, because I know you're as busy as I am. It's the ultimate organizer for every aspect of our children's lives. With Kid2Adult you can track your child Height, Weight, Bodyfat, BMI ranks and trends associated with them.  Along with growth charts you can record their medical/vaccination history, "first" milestones, accomplishments, school records, extra-curricular activities, vacations, expenses and so much more. And if there's something you want to track that's not in one of the app's categories, you just add your own custom categories.</p>

                                    <p>That's not all! This app doesn't just capture and store the data. It analyzes it, too, with trend charts and graphs so you can see how your child is doing in comparison to others and where there might be a problem that should be nipped in the bud. This is the information we really need to be well-informed, responsible parents and make the best possible decisions for our children.</p>

                                    <p>
                                        I've never seen anything else like it. It makes my life so much easier, and I feel really good that I'm keeping this record of their childhood for them to refer to for the rest of their lives. I know it will do the same for you</p>
                                    <p>
                                        Don't forget, it's totally free, so what have you got to lose? Except more days of their lives that are slipping away from you. Go <a href="{{url}}">check it out</a> right now!<p>
                                </td>
                            </tr>

                        </table>
                    </td>


                    <td width="1" style="font-size: 1px; line-height: 1px;">&nbsp;</td>

                </tr>

            </table><!-- body -->
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="610" style="font-family: sans-serif; line-height: 10px;" bgcolor="#464646" class="footer">

                <tr>
                    <td bgcolor="#242B35" align="center" style="padding: 15px 0 15px; line-height: 1.2; font-size: 11px; color:#c0c0c0; margin: 0; font-family: sans-serif; " valign="top">
                        <p style="margin: 0; padding-left: 10px; text-align: left; color:#fff; font-family: Arial, sans-serif; font-size: 12px;">&#169; 2013 Sriven Software, Inc. All rights reserved.</p>
                    </td>
                </tr>
            </table><!-- footer-->
        </td>
    </tr>
</table>
</body>
</html>