
<section id="ManageDropDown-section">
    <header>
        <div class="pull-right">
            <button id="addDropDownLink" class="btn btn-small" rel="popover" data-html="true" data-original-title="Add a Dropdown Value">Add a Dropdown Value</button>
        </div>
        <div class="span2">
            <h2><a href="#"></a>Drop down</h2>
        </div><!--end span6-->

    </header>
    <div class="row-fluid">
        <div id="DROP-DOWN-GRID"  class="standardGrid" ></div>
    </div>
</section>
<section id="ADD-DROP-DOWN-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-DROP-DOWN-RECORD-FORM">
        <fieldset>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label help" for="ADD-DROP-DOWN-TYPE">Type Category</label>
                    <div class="controls">
                           <select data-placeholder="Choose Type" id="ADD-DROP-DOWN-TYPE" tabindex="0" name="ADD-DROP-DOWN-TYPE" required>
                           </select>
                    </div>
                </div>
			</div>
			<div class="span6">
                <div class="control-group">
                      <!-- Text input-->
                      <label class="control-label help" for="ADD-DROP-DOWN-PARENT-CODE">Parent Code</label>
                      <div class="controls">
                            <input type="number" name="ADD-DROP-DOWN-PARENT-CODE" id="ADD-DROP-DOWN-PARENT-CODE" class="input-large" tabindex="3" data-class="error-tooltip" data-required="true" required/>
                      </div>
                  </div>
            </div>
		</div>	

         <div class="row-fluid">  
		    <div class="span6">
                  <div class="control-group">
                      <!-- Text input-->
                      <label class="control-label help" for="ADD-DROP-DOWN-VALUE">Type Title</label>
                      <div class="controls">
                            <input type="text" name="ADD-DROP-DOWN-VALUE" id="ADD-DROP-DOWN-VALUE" class="input-large" tabindex="2" data-class="error-tooltip" data-required="true" required/>
                      </div>
                  </div>
			</div>
			<div class="span6">
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label help" for="ADD-DROP-DOWN-CODE">Code</label>
                        <div class="controls">
                              <input type="number" name="ADD-DROP-DOWN-CODE" id="ADD-DROP-DOWN-CODE" class="input-large" tabindex="1" data-class="error-tooltip" data-required="true" required/>
                        </div>
                    </div>
            </div>
		</div>	
		
		 <div class="row-fluid">
			<div class="span12">
				<div class="control-group">
                <!-- Text input-->
                <label class="control-label help" for="ADD-DROP-DOWN-DESCRIPTION">Description</label>

                <div class="controls">
                    <textarea  name="ADD-DROP-DOWN-DESCRIPTION" id="ADD-DROP-DOWN-DESCRIPTION" rows="5" class="input-add-comment span11" tabindex="4"/>
                </div>
				</div>
            </div>
		</div>
        </fieldset>
        <div class="form-actions add-popover-actions">
            <div style="float:right" class="admin-btnadj">
                <button type="reset" class="btn btn-link cancel" id="cancelAddDropDownValue" >Cancel</button>
                <button class="btn btn-success addRecord" id="submitAddDropDownValue" >Add Record</button>
            </div>
        </div>
    </form>
</section>