<section id="ATTACHMENTS-SECTION">
    <header>


        <div class="row-fluid">
            <div class="span4">
              <span style="font-size:22px">Documents</span><span>:&nbsp;<span id="ATTACHMENTS-HEADER-LABEL"><@= WTG.customer.getActiveUser().getFirstName()@></span></span>
              <label class="family-docs-checkbox">Family Docs : <input id="CHECKBOX-SHOW-ALL-DOCS" type="checkbox" /></label>
             </div>
            <div class="span8">
                <div class="pull-right tab-header-icons">
                   <!-- <span id="qsn">
                        <a href="faq.event" target="_blank" title="Help">
                        <img class="navimg fav-icon-new" src="css/img/png/question_mark_icon.png">
                        </a>
                    </span> -->
                    <span>
                    <a href="#" id="addAttachmentLink" class="btn btn-small" rel="popover" data-html="true" data-original-title="Add a Document">Add a Document</a>
                    </span>
              </div>
              <!--end header icons-->
            </div>
            <!--end span6-->
          </div>
          <!--end row-->



    </header>
    <div class="row-fluid">
        <div id="ATTACHMENTS-GRID" class="standardGrid" tabid='attachments'></div>
    </div>
</section>
<section id="ADD-ATTACHMENT-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-ATTACHMENT-RECORD-FORM">
        <fieldset>
            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label help" for="ADD-ATTACHMENT-DATE">Date</label>
                    <div class="controls">
                        <input class="input-left-adjfield WTGDatePicker" size="16" type="text" id="ADD-ATTACHMENT-DATE"
                                                       name="DATE" data-class="error-tooltip" tabindex="1" required/>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                            <label class="control-label help" for="CHOOSE-USER">User</label>
                              <div class="controls">
                                    <select id="CHOOSE-USER" data-placeholder="Select" class="chzn-select input-left-adjfield" tabindex="2">
                                    </select>
                              </div>
                    </div>
                </div><!--end span-->
            </div>

             <div class="row-fluid">
                 <div class="span6">
                         <div class="control-group">
                                <label class="control-label help" for="ADD-ATTACHMENT-FEATURE">Document Type</label>
                                <div class="controls">
                                    <select id="ADD-ATTACHMENT-FEATURE" name="FEATURE" data-placeholder="Select" class="input-left-adjfield chzn-select" tabindex="2" required>
                                    </select>
                                </div>
                         </div>
                 </div><!--end span-->
                 <div class="span6">
                      <div class="control-group">
                         <label class="control-label help" for="ADD-ATTACHMENT-FILE">Upload File</label>
                              <div class="controls">
                                  <input id="ADD-ATTACHMENT-FILE" class="input-left-adjfield" name="FILE">
                              </div>
                      </div>
                 </div><!--end span-->
               </div><!--end row-->


            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label-help" for="ADD-ATTACHMENT-SUMMARY">Summary</label>
                    <div class-"controls">
                        <input type="text" name="summary" id="ADD-ATTACHMENT-SUMMARY"  class="input-center-adjfield input-add-comment" data-class="error-tooltip" tabindex="5" maxlength="255" required/>
                    </div>
                </div><!-- end span -->
            </div><!--end row-->

            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label help" for="ADD-ATTACHMENT-DESCRIPTION">Description</label>
                        <div class="controls">
                            <textarea id="ADD-ATTACHMENT-DESCRIPTION" class="input-center-adjfield input-add-comment" rows="4" tabindex="3"/>
                        </div>
                    </div>

                </div><!--end span-->
            </div><!--end row-->
        </fieldset>

        <div class="form-actions add-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-ATTACHMENT" tabindex="5">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-ATTACHMENT" tabindex="4">Add Record</button>
            </div>
        </div>

    </form>
</section>

<!-- Add new Document/Attachment type section -->
<section id="ADD-NEW-DOCUMENT-TYPE-SECTION">
      <form class="" id="ADD-NEW-DOCUMENT-TYPE-FORM">
        <fieldset>
        <div id="ADD-NEW-DOCUMENT-TYPE-MODAL" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
            <div class="modal-header">
                <a href="#" class="close modal-cancel-action" data-dismiss="modal">&times;</a>
                <h2 class="modal-title">Add Option</h2>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label help" for="ADD-DOCUMENT-TYPE-LABEL">Feature</label>
                    <div class="controls">
                      <input type="text" class="span12" value="Documents" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label help" for="ADD-NEW-DOCUMENT-TYPE">New Type Requested</label>
                    <div class="controls">
                        <input type="text" placeholder="Enter new Document type" class="span12" name="NEW_TYPE" id="ADD-NEW-DOCUMENT-TYPE" data-class="error-tooltip" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label help" for="ADD-DOCUMENT-TYPE-DESCRIPTION">Description</label>
                    <div class="controls">
                        <textarea  name="ADD-DOCUMENT-TYPE-DESCRIPTION" id="ADD-DOCUMENT-TYPE-DESCRIPTION" rows="4" maxlength="740" class="span12"/>
                    </div>
                </div>

                <div class="pull-right">
                    <a href="#" class="btn  modal-cancel-action">Cancel</a>
                    <a href="#" class="btn btn-success modal-add-action">Add</a>
                </div>
            </div>
        </div>
        </fieldset>
      </form>

</section>