<form class="" id="EDIT-EDUCATION-FORM">
    <fieldset>

        <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label edit-text-adj help" for="EDIT-SCHOOL-NAME" >School Name</label>
                        <div class="controls">
                            <input class="span11 input-edit-comment"  type="text" id="EDIT-SCHOOL-NAME"
                                   name="schoolName" data-class="error-tooltip" value="<@= schoolName@>" maxlength="255"  tabindex="3" required>
                        </div>
                    </div>
            </div><!--end span-->
        </div>
        <div class="row-fluid">
             <div class="span6">
                <div class="control-group">
                        <label class="control-label help" for="EDIT-GRADE-SELECT">Grade</label>
                        <div class="controls">
                            <select style="width:220px" id="EDIT-GRADE-SELECT" class="chzn-select"  tabindex="4" data-placeholder="Choose Grade" name="grade" required >
                            </select>
                        </div>
                    </div>
             </div><!--end span-->
             <div class="span6">
                 <div class="control-group">
                     <!-- Text input-->
                       <label class="control-label help" for="CHOOSE-USER">User</label>
                        <div class="controls">
                              <select id="CHOOSE-USER" data-placeholder="Select" class="school-names chzn-select input-left-adjfield" tabindex="2">
                              </select>
                        </div>
                 </div>
             </div><!--end span-->
        </div><!--end row-->

          <div class="row-fluid">
            <div class="span6">
                 <div class="control-group">
                <!-- Text input-->
                <label class="control-label edit-text-adj help" for="EDIT-SCHOOL-FROM-DATE">From Date </label>
                <div class="controls">
                    <input class="span10 WTGDatePicker" type="text" id="EDIT-SCHOOL-FROM-DATE"
                           name="fromDate" data-class="error-tooltip" value="<@= fromDate@>"  tabindex="1" required>
                </div>
            </div>
            </div><!--end span-->
             <div class="span6">
                <div class="control-group">
                <!-- Text input-->
                <label class="control-label edit-text-adj help" for="EDIT-SCHOOL-TO-DATE">To Date </label>
                <div class="controls">
                    <input class="span10 WTGDatePicker" type="text" id="EDIT-SCHOOL-TO-DATE"
                           name="toDate" data-class="error-tooltip" value="<@= toDate@>"  tabindex="2" required>
                </div>
            </div>
            </div><!--end span-->
          </div><!--end row-->


          <div class="row-fluid">
            <div class="span12">
                 <div class="control-group">
                <!-- Text input-->
                <label class="control-label edit-text-adj help" for="EDIT-SCHOOL-DESCRIPTION" >Notes</label>
                <div class="controls">
                    <textarea id="EDIT-SCHOOL-DESCRIPTION" name="EDIT-SCHOOL-DESCRIPTION" class="span11 input-edit-comment" rows="4"  tabindex="5"><@=description@></textarea>
                </div>
            </div>
            </div><!--end span-->
          </div><!--end row-->



    </fieldset>
    <div class="form-actions edit-popover-actions">
        <div class="pull-right">
            <button type="reset" class="btn cancelChanges" id="CANCEL-EDUCATION-RECORD-CHANGES" tabindex="7">Cancel</button>
            <button class="btn btn-success saveChanges" id="SAVE-EDUCATION-RECORD-CHANGES" tabindex="6">Save Changes</button>
        </div>
    </div>
</form>