<section id="GROWTH-SECTION">
   	 <header>

   		  <div class="row-fluid">
   			<div class="span6">
               <span style="font-size:22px">Physical Growth</span><span>:&nbsp;<@= WTG.customer.getActiveUser().getFirstName()@></span>

            </div><!--end span6-->
            <div class="span6">
              <div class="pull-right tab-header-icons">
                <span class="trends-link" menu="CHOOSE-GROWTH-TYPE"><a href="#" class="help" title="Show trends"><img class="navimg fav-icon-new" src="css/img/png/phygrowth_showtrends.png"></a></span>
                 <span id="qsn"><a href="faq.event?category=1" target="_blank" title="Help"><img class="navimg fav-icon-new" src="css/img/png/question_mark_icon.png"></a></span>
           <span><a href="#" class="btn btn-small" rel="popover" id="addGrowthLink" data-html="true" data-original-title="Add a Growth Record">Add a Growth Record</a></span>
          

              </div><!--end header icons-->


            </div><!--end span6-->


          </div><!--end row-->
          </div>


           

       </header>
    <div class="row-fluid">
        <div id="GROWTH-GRID" class="standardGrid" tabid='growth'></div>
    </div>

     <div class="bottom-line">
          DISCLAIMER: All calculations must be confirmed before use. The authors make no claims of the accuracy of the information contained herein. Neither LifeBetterOrganized.com nor any other party involved in the preparation or publication of this site shall be liable for any special, consequential, or exemplary damages resulting in whole or part from any user's use of or reliance upon this material.
          </div>
</section>
<section class="" id="ADD-GROWTH-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-GROWTH-RECORD-FORM">
        <fieldset>
          <div class="row-fluid" style="padding-bottom:10px" id="DIV-GROWTH-METRIC-MSG">
            <div class="span11" style="border:1.5px solid #FB9D19;background:#FBDBAD;color:#000;padding-left:5px;padding-top:5px;padding-bottom:5px">
                    <span id="GROWTH-METRIC-MSG"></span>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-GROWTH-DATE">Date </label>
                    <div class="controls">
                        <input class="input-left-adjfield WTGDatePicker" placeholder="Measured date" size="16" type="text" id="ADD-GROWTH-DATE" name="growthLogDate" data-class="error-tooltip" tabindex="1" required>
                    </div>
                </div>
              </div>
              <div class="span6">
                  <div class="control-group">
                      <!-- Text input-->
                      <label class="control-label help" for="CHOOSE-USER">User</label>
                      <div class="controls">
                            <select id="CHOOSE-USER" data-placeholder="Select" class="doctor-names chzn-select input-left-adjfield" tabindex="2">
                            </select>
                      </div>
                  </div>
                </div>
            </div><!--end row-->

            <div class="row-fluid">
            <div class="span6">
               <div class="control-group">
                                   <!-- Text input-->
                                   <label class="control-label help" for="ADD-HEIGHT">Height</label>
                                   <div class="controls">
                                   <div class="input-append dropdown">
                                   <input id="ADD-HEIGHT"  type="text" class="input-inches-adjfield input-postfix ui-widget-content" placeholder="As of measured date" name="height" tabindex="2" data-class="error-tooltip" required><span class="add-on"><@=WTG.customer.getShowHeightMetric()@></span>
                                   </div>
                                   </div>
                               </div>

            </div>
            <div class="span6">
                
                <div class="control-group">
                                    <!-- Text input-->
                                    <label class="control-label help" for="ADD-WEIGHT">Weight</label>
                                    <div class="controls">
                                    <div class="input-append">
                                    <input id="ADD-WEIGHT" type="text" class="input-currency-adjfield input-postfix ui-widget-content" placeholder="As of measured date" name="weight" tabindex="3" data-class="error-tooltip" required><span class="add-on"><@=WTG.customer.getWeightMetric()@></span>
                                    </div>
                                    </div>
                                </div>
            </div>
          </div> <!--End Row-->
          <div class="row-fluid">
          <div class="span12">
            <div class="control-group">
                <label class="control-label help" for="ADD-NOTES">Notes</label>
                <div class="controls">
                    <div class="textarea" placeholder="Any notes associated with this measurement, we recommend adding a picture taken on this date" >
                        <textarea id="ADD-GROWTH-COMMENTS" rows="4" class="input-center-adjfield input-add-comment" tabindex="6"> </textarea>
                    </div>
                </div>
            </div>

          </div>
        </div><!-- end row-->

        </fieldset>
        <div class="form-actions add-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-GROWTh" tabindex="8">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-GROWTH" tabindex="7">Add Record</button>
            </div>
        </div>
    </form>
</section>