<section id="JOURNAL-SECTION">
    <header>


        <div class="row-fluid">
            <div class="span6">

              <span style="font-size:22px">Journal</span><span>:&nbsp;<span id="JOURNAL-HEADER-LABEL"><@= WTG.customer.getActiveUser().getFirstName()@></span></span>
              <label class="family-docs-checkbox">All Family : <input id="CHECKBOX-SHOW-ALL-JOURNAL" type="checkbox" /></label>
            </div><!--end span6-->
            <div class="span6">
              <div class="pull-right tab-header-icons">

            <span id="qsn"><a href="faq.event?category=4" target="_blank" title="Help"><img class="navimg fav-icon-new" src="css/img/png/question_mark_icon.png"></a></span>
          <span><a href="#" class="btn btn-small" rel="popover" id="addJournalLink" data-html="true" data-original-title="Add a Journal Record">Add a Journal Record</a></span> 

              </div><!--end header icons-->


            </div><!--end span6-->


          </div><!--end row-->


       
    </header>
    <div class="row-fluid">
        <div id="JOURNAL-GRID" class="standardGrid" tabid='journal'></div>
    </div>
</section>
<section id="ADD-JOURNAL-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-JOURNAL-RECORD-FORM">
        <fieldset>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label help" for="ADD-JOURNAL-DATE">Date </label>
                        <div class="controls">
                            <input class="input-left-adjfield WTGDatePicker"  type="text" id="ADD-JOURNAL-DATE" name="DATE" data-class="error-tooltip" tabindex="1" required/>
                        </div>
                    </div>
                 </div><!--end span-->
                 <div class="span6">
                     <div class="control-group">
                         <!-- Text input-->
                           <label class="control-label help" for="CHOOSE-USER">User</label>
                            <div class="controls">
                                  <select id="CHOOSE-USER" data-placeholder="Select" class="doctor-names chzn-select input-left-adjfield" tabindex="2">
                                  </select>
                            </div>
                     </div>
                 </div><!--end span-->
            </div><!--end row-->
            <div class="row-fluid">
            <div class="span12">
                <div class="control-group">

                    <label class="control-label help" for="ADD-JOURNAL-SUMMARY">Title</label>
                    <div class="controls">
                        <input type="text"  id="ADD-JOURNAL-SUMMARY" name="summary" class="input-center-adjfield input-add-comment" data-class="error-tooltip" tabindex="2" maxlength="255" required/>
                    </div>
                </div>
  </div><!--end span-->
</div><!--end row-->
                <div class="row-fluid">
            <div class="span12">
                <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-JOURNAL-COMMENTS">Journal Entry</label>
                    <div class="controls">
                        <textarea id="ADD-JOURNAL-COMMENTS" class="input-center-adjfield input-add-comment" rows="4" tabindex="3"/>
                    </div>
                </div>
            
              </div><!--end span-->
</div><!--end row-->
        </fieldset>
       
        <div class="form-actions edit-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-JOURNAL" tabindex="5">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-JOURNAL" tabindex="4">Add Record</button>
            </div>
        </div>
  
    </form>
</section>