<section id="MANAGE-USER-SECTION">
    <header>

        <div class="row-fluid">
            <div class="span6">
              <h2><span class="help">Family Members</span></h2>

            </div><!--end span6-->
            <div class="span6">
              <div class="pull-right tab-header-icons">

         <span> <a href="#"  id="addUsersLink" class="btn btn-small" rel="popover" data-html="true"  data-original-title="Add a Family Member">Add a Family Member</a><span>
           


              </div><!--end header icons-->


            </div><!--end span6-->


          </div><!--end row-->


    </header>
    <div class="row-fluid">
        <div id="USER-GRID" class="standardGrid" tabid='user'></div>
    </div>
</section>
<section id="ADD-USER-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-USER-RECORD-FORM">
        <fieldset>
            <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label help" for="ADD-USER-FIRST-NAME">First Name</label>
                    <div class="controls">
                        <input type="text" name="firstName" id="ADD-USER-FIRST-NAME" class="span9" tabindex="1" data-class="error-tooltip" maxlength="255" required/>
                    </div>
                </div>
            </div>
                 <div class="span6">
                <div class="control-group">
                    <label for="ADD-USER-LAST-NAME" class="control-label help">Last Name</label>
                    <div class="controls">
                        <input type="text" name="lastName" id="ADD-USER-LAST-NAME" class="span9" tabindex="2" data-class="error-tooltip" maxlength="255" required/>
                    </div>
                </div>
            </div>
        </div><!--end row-->
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label for="ADD-USER-GENDER" class="control-label help">Gender</label>
                    <div class="controls">
                         <select data-placeholder="Select" name="gender" class="chzn-select" id="ADD-USER-GENDER" tabindex="3" required>
                         </select>
                    </div>
                </div>

            </div>
           <div class="span6">
                <div class="control-group">
                    <label for="ADD-USER-DOB" class="control-label help">Date of Birth </label>
                    <div class="controls">
                        <input type="text" class="span9 WTGDatePicker" name="dob" id="ADD-USER-DOB" data-class="error-tooltip" tabindex="4" required/>
                    </div>
                </div>

            </div>
        </div>
          <div class="row-fluid">
                 <div class="span12">
                     <div class="control-group">
                         <!-- Text input-->
                         <label class="control-label help" for="ADD-USER-EMAIL">Email</label>
                         <div class="controls">
                               <input type="text"a type="email" name="email" id="ADD-USER-EMAIL" class="input-center-adjfield" tabindex="6"  maxlength="255" />
                         </div>
                     </div>
                 </div>
             </div>
        </fieldset>
        <div class="form-actions add-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-USERS" tabindex="9">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-USERS" tabindex="8">Add Record</button>
            </div>
        </div>
    </form>
</section>