<section id="MANAGE-DOCTOR-SECTION">
    <header>

        <div class="row-fluid">
            <div class="span6">
              <h2><span class="help">Family Doctors</span></h2>

            </div><!--end span6-->
            <div class="span6">
              <div class="pull-right tab-header-icons">

             <span><a href="#" class="btn btn-small" rel="popover" id="addDoctorsLink" data-html="true" data-original-title="Add a Family Doctor">Add a Family Doctor</a></span>


              </div><!--end header icons-->


            </div><!--end span6-->


          </div><!--end row-->




    </header>
    <div class="row-fluid">
        <div id="DOCTOR-GRID"  class="standardGrid" tabid='doctor'></div>
    </div>
</section>
<section id="ADD-DOCTOR-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-DOCTOR-RECORD-FORM">
        <fieldset>
            <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label help" for="ADD-DOC-FIRST-NAME" >First Name</label>
                            <div class="controls">
                                <input type="text" name="firstName" id="ADD-DOC-FIRST-NAME"  class="span9" tabindex="1" maxlength="255" data-class="error-tooltip" required/>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                         <div class="control-group">
                                                <!-- Text input-->
                                                <label class="control-label help" for="ADD-DOC-LAST-NAME" >Last Name</label>
                                                <div class="controls">
                                                    <input type="text" name="lastName" id="ADD-DOC-LAST-NAME"  class="span9" tabindex="2" data-class="error-tooltip" required/>
                                                </div>
                                            </div>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                        <div class="control-group">
                            <!-- Text input-->
                            <label class="control-label help" for="ADD-DOC-CONTACT" >Contact</label>
                            <div class="controls">
                                <input type="text" name="Contact" id="ADD-DOC-CONTACT"  class="span9" tabindex="4" data-class="error-tooltip"/>
                            </div>
                        </div>
                    </div>
                

                    <div class="span6">
                   
                        <div class="control-group">
                            <label class="control-label help" for="ADD-DOC-SPECIALITY" >Speciality</label>
                            <div class="controls">
                                <select id="ADD-DOC-SPECIALITY" class="chzn-select" data-placeholder="Select" tabindex="3" required>
                                </select>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
                <div class="row-fluid">
                    <div class="span12">
                    <div class="control-group">
                        <!-- Text input-->
                        <label class="control-label edit-text-adj help" for="ADD-MANAGE-DOC-DESCRIPTION" >Notes</label>
                        <div class="controls">
                            <textarea id="ADD-MANAGE-DOC-DESCRIPTION" name="ADD-MANAGE-DOC-DESCRIPTION" class="span11 input-add-comment" rows="4" tabindex="5"></textarea>
                        </div>
                    </div>
                </div>
                </div>
                </fieldset>
        <div class="form-actions add-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-DOCTORS" tabindex="7">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-DOCTORS" tabindex="6">Add Doctor</button>
            </div>
        </div>
    </form>
</section>