<section id="PURCHASES-SECTION">
    <header>

        <div class="row-fluid">
            <div class="span6">
              <span style="font-size:22px">Purchases</span><span>:&nbsp;<span id="PURCHASES-HEADER-LABEL"><@= WTG.customer.getActiveUser().getFirstName()@></span></span>
              <label class="family-docs-checkbox">All Family : <input id="CHECKBOX-SHOW-ALL-PURCHASES" type="checkbox" /></label>
            </div><!--end span6-->
            <div class="span6">
              <div class="pull-right tab-header-icons">
                <span class="trends-link" menu="CHOOSE-EXPENSES-TYPE"><a href="#" class="help" title="Show trends"><img class="navimg fav-icon-new" src="css/img/png/expense_tab_icon.png"></a></span>
              <span id="qsn"><a href="faq.event?category=9" target="_blank" title="Help"><img class="navimg fav-icon-new" src="css/img/png/question_mark_icon.png"></a></span>
                 <span> <a href="#"  id="addMyPurchasesLink" class="btn btn-small" rel="popover" data-html="true" data-original-title="Add a Purchase Record">Add a Purchase Record</a></span>
          

              </div><!--end header icons-->


            </div><!--end span6-->


          </div><!--end row-->



    </header>
    <div class="row-fluid">
        <div id="MYPURCHASES-GRID" class="standardGrid" tabid='MyPurchases'></div>
    </div>
</section>
<section id="ADD-MYPURCHASES-RECORD-SECTION" style="display:none">
    <form class="" id="ADD-MYPURCHASES-RECORD-FORM">
        <fieldset>

            <div class="row-fluid">
            <div class="span6">
                 <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-ITEM-NAME" >Item Name</label>
                    <div class="controls">
                        <input type="text" class="input-left-adjfield" id="ADD-ITEM-NAME"
                               name="itemName" tabindex="3" data-class="error-tooltip" maxlength="255" required/>
                    </div>
                    </div>

            </div><!--end span-->
             <div class="span6">
                    <div class="control-group">
                                <label class="control-label help" for="ADD-ITEM-TYPE">Item Type</label>
                                <div class="controls">
                                    <select id="ADD-ITEM-TYPE" class="input-left-adjfield chzn-select"  data-placeholder="Select"  tabindex="4">
                                    </select>
                                    <!--<input id="ADD-ITEM-TYPE" type="text" class="span9" placeholder="Choose a purchase type..." autocomplete="off" />-->

                                </div>
                            </div>


            </div><!--end span-->
          </div><!--end row-->

          <div class="row-fluid">
            <div class="span6">
                 <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-PURCHASE-DATE" >Date </label>
                    <div class="controls">
                        <input class="input-left-adjfield WTGDatePicker" size="16" type="text" id="ADD-PURCHASE-DATE"
                               name="DATE" data-class="error-tooltip" tabindex="1" required/>
                    </div>
                </div>

            </div><!--end span-->
             <div class="span6">
                 <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label edit-text-adj help" for="ADD-PURCHASE-AMOUNT">Amount</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on currency" data-toggle="tooltip" data-original-title="<@=WTG.customer.getCurrencyName()@>"><@=WTG.customer.getCurrencyPrefix()@></span>
                            <input type="text" name="amount" id="ADD-PURCHASE-AMOUNT" maxlength="13" class="input-currency-adjfield input-currency" placeholder="0.00" data-class="error-tooltip" tabindex="2" required/>
                        </div>
                    </div>
                </div>

            </div><!--end span-->
          </div><!--end row-->


          <div class="row-fluid">
            <div class="span6">
                  <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-RECEIPT-OF-PURCHASE">Upload Receipt </label>
                    <div class="controls">
                        <input id="ADD-RECEIPT-OF-PURCHASE" tabindex="5" class="input-left-adjfield" name="RECEIPT" ><!-- <span class="NextRelease"><i class="fa-icon-warning-sign"></i></span>-->
                    </div>
                </div>
            </div><!--end span-->
             <div class="span6">
                 <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-ATTACH-PICTURE-OF-ITEM">Upload Picture</label>
                    <div class="controls">
                        <input id="ADD-ATTACH-PICTURE-OF-ITEM" tabindex="6" class="input-left-adjfield" name="PICTURE"><!-- <span class="NextRelease"><i class="fa-icon-warning-sign"></i></span>-->
                    </div>
                </div>
            </div><!--end span-->
          </div><!--end row-->

          <div class="row-fluid">
            <div class="span6">
                 <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-ATTACH-WARRANT-INFO">Upload Warranty</label>
                    <div class="controls">
                        <input id="ADD-ATTACH-WARRANT-INFO" tabindex="7" class="input-left-adjfield" name="WARRANT" ><!-- <span class="NextRelease"><i class="fa-icon-warning-sign"></i></span>-->
                    </div>
                </div>
            
            </div><!--end span-->
             <div class="span6">
                  <div class="control-group">
                    <!-- Text input-->
                    <label class="control-label help" for="ADD-ATTACH-INSURANCE-INFO">Upload Insurance Contract</label>
                    <div class="controls">
                        <input id="ADD-ATTACH-INSURANCE-INFO" tabindex="8" class="input-left-adjfield" name="INSURANCE"><!-- <span class="NextRelease"><i class="fa-icon-warning-sign"></i></span>-->
                    </div>
                </div>
            </div><!--end span-->
          </div><!--end row-->

           <div class="row-fluid">
            <div class="span12">
                 <div class="control-group">
                <!-- Text input-->
                <label class="control-label help" for="ADD-PURCHASE-DESCRIPTION">Notes</label>
                <div class="controls">
                    <textarea type="text" name="description" id="ADD-PURCHASE-DESCRIPTION" class="input-center-adjfield input-add-comment" rows="4" tabindex="7" />
                </div>
            </div>
            </div><!--end span-->
          </div><!--end row-->
           
        </fieldset>
        <div class="form-actions add-popover-actions">
            <div class="pull-right">
                <button type="reset" class="btn cancel" id="CANCEL-ADD-MYPURCHASES" tabindex="9">Cancel</button>
                <button class="btn btn-success addRecord" id="SUBMIT-ADD-MYPURCHASES" tabindex="8">Add Record</button>
            </div>
        </div>
    </form>
</section>

<!-- Add new purchase type section -->
<section id="ADD-NEW-PURCHASE-TYPE-SECTION">
    <form class="" id="ADD-NEW-PURCHASE-TYPE-FORM">
      <fieldset>
        <div id="ADD-NEW-PURCHASE-TYPE-MODAL" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
            <div class="modal-header">
                <a href="#" class="close modal-cancel-action" data-dismiss="modal">&times;</a>
                <h2 class="modal-title">Add Option</h2>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label help" for="ADD-PURCHASE-TYPE-LABEL">Feature</label>
                    <div class="controls">
                     <input type="text" class="span12" value="Purchase" readonly>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label help" for="ADD-NEW-PURCHASE-TYPE">New Type Requested</label>
                    <div class="controls">
                        <input type="text" placeholder="Enter new purchase type" class="span12" name="purchase-type" id="ADD-NEW-PURCHASE-TYPE" data-class="error-tooltip" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ADD-PURCHASE-DESCRIPTION">Description</label>

                    <div class="controls">
                        <textarea  name="ADD-PURCHASE-TYPE-DESCRIPTION" id="ADD-PURCHASE-TYPE-DESCRIPTION" rows="4" maxlength="740" class="span12"/>
                    </div>
                </div>

                <div class="pull-right">
                    <a href="#" class="btn modal-cancel-action">Cancel</a>
                    <a href="#" class="btn btn-success modal-add-action">Add</a>
                </div>
            </div>
        </div>
      </fieldset>
    </form>
</section>