



body{
    padding-top:100px;
    background-color: #e0f0cb;
}

h2 {
    font-size: 22px;
    line-height: 0px;
    font-weight: 500;
}



/*Header*/
#HEADER-TEMPLATE {
    position:fixed !important;
    top:0 !important;
    left:0;
    right:0;
    width:100%;
    z-index:1000;
}
#main-menu-toggle {
    z-index:10001;
    position:fixed !important;

}

#header-nav{
    position: relative;
    /*  padding-top: 10px;
      padding-bottom: 3px;*/
    background-color: #262e30;


}

#header-nav > .navbar-inner{
    background-color: inherit;
}

.header-nav > .nav{
    min-width: 60%;
    margin-top: 0px;
    border:0px;
}

.navbar .nav>li{
    float:right;
    margin-top: 15px;
}


#user-name{
    position: absolute;
    top:0;
    right:0;
    margin-top: -1px;
    padding-right: 8px;
    color:#fff;
    font-size: 13px;
}

.navbar .nav.pull-right {
    margin-right: -20px;
}


.nav-no-collapse ul:first-child{
    width: 90%;
    /*border:1px solid #fff;*/
}




.navbar .brand{

    margin-left: 0px;
    padding:3px 0px 3px 0px;
    border-left: 1px solid #485a5c;
    /*border-left: 1px solid #333;*/
}

.navbar .brand-static{

    margin-left: 0px;
    padding:3px 0px 3px 0px;
    border-left: 0px solid #485a5c;
    /*border-left: 1px solid #333;*/
}

.brand-static img{
    max-width: 200px;
    margin:0px 0px 0px 5px;

}

.brand img{
    max-width: 200px;
    margin:0px 0px 0px 5px;

}


.header-nav {
    background: inherit !important;
}

.navbar .nav{
    color:#9fbfc2;

}


.nav .userSettings{
    min-width: 220px;

}


li.dropdown.userSettings{
    float: left;
}

.nav .userSettings .dropdown-toggle{
    width:100%;
    /*background:#344042;*/
    padding: 10px 0px!important;
    font-size: 16px;
    margin-top: -10px;

}


.active-user{
    /*color:#d1d5d4;*/
    color: #fff;
    /* font-family: 'Alex Brush', cursive;*/
    /*font-family: 'Sofia', cursive;
    font-family: cursive;*/
    font-weight: 400;
    font-size: 26px;
}

.userSettings .caret {
    margin: 5px;
    margin-top: 10px !important;
}
ul#userSelectionDropDown{
    max-width: 400px;
    width: 99%;

}

.nav a.btn{
    border:0px;
    padding: 10px 5px!important;
    font-size: 13px;
    font-weight:bold;
    outline: 0;
    outline: none;
}

.nav-icon{
    border:0px;
    width:20px;
    padding: 5px;


}


.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    color: #555;
    background-color:#344042;

    /*#354042;  #373737;*/
    outline: 0;
    outline: none;
}

.dropdown-menu{
    background: #262e30;
    opacity: 0.95;

}

.dropdown-menu > li >a:hover,
.dropdown-menu > li >a:focus,
.dropdown-submenu:focus,
.dropdown-submenu:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-submenu:hover > a

{
    background:#83d06a;
    opacity:1;

}




.dropdown-menu li:last-child{
    overflow: hidden;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: none;

}



header > .row-fluid > .span6 >h2{
    margin-top: 18px;
}




/*Tab Menu*/

.lp-dropdown-menu{
    padding-top: 5px;
    padding-bottom: 7px;
}


.lp-dropdown-menu li, .lp-dropdown-menu a {
    display: block;
    list-style: none;
    position: relative;
    width: 82px
}

.lp-dropdown-menu a {
    border-bottom: 1px solid #1d1d1d;
    border-top: 1px solid #323232;
    line-height: 12px;
    height: 70px;
    padding-top: 45px;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.lp-dropdown-menu a span {
    display: block;
    position: absolute;
    color: #999;
    font-size: 2.5em;
    margin-top: -29px;
    width: 82px
}

.lp-dropdown-menu, .lp-dropdown-menu a {
    color: #86B471;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    /* text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;*/
    text-transform: uppercase
}

/*.lp-dropdown-menu a, .lp-dropdown-menu a span {
    text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}*/

.lp-dropdown-menu a:hover, .lp-dropdown-menu .lp-dropdown-toggle.open, .lp-dropdown-menu a:hover span, .lp-dropdown-menu .lp-dropdown-toggle.open span {
    color: #7C6684;

}

.lp-dropdown-menu li.active>a, .lp-dropdown-menu li.active>a span {
    color: #86B471;

}

.lp-dropdown-menu li.active>a, .lp-dropdown-menu .lp-dropdown-toggle.open {
    border-top: none !important;
    background: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important
}

.lp-dropdown-menu a:first-child {
    -webkit-box-shadow: #1d1d1d 0 -1px 0;
    -moz-box-shadow: #1d1d1d 0 -1px 0;
    box-shadow: #1d1d1d 0 -1px 0
}

.lp-dropdown-menu a:last-child {
    -webkit-box-shadow: #323232 0 1px 0;
    -moz-box-shadow: #323232 0 1px 0;
    box-shadow: #323232 0 1px 0
}

.lp-dropdown-menu .lp-dropdown-toggle.open {
    padding-top: 46px
}

.lp-dropdown-menu .active .lp-dropdown-toggle.open {
    padding-top: 45px
}

.lp-dropdown-wrapper.simple, .lp-dropdown-menu.simple, .lp-dropdown-menu.simple li, .lp-dropdown-menu.simple ul {
    margin: 0;
    height: auto;
    padding: 0
}

.lp-dropdown-wrapper {
    position: absolute;
    z-index: 9999;
    display: none
}

.lp-dropdown-wrapper.open, .lp-dropdown-wrapper .lp-dropdown-menu {
    display: block
}

.lp-dropdown-wrapper .arrow {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #DFE9BD;
    display: block;
    height: 0;
    margin: 30px 0 0 -6px;
    position: absolute;
    width: 0
}

.lp-dropdown-menu {
    display: none;
    margin: 0 !important;
    overflow: hidden
}

.lp-dropdown-menu li {
    background: #e0f0cb;
    float: left
}

.lp-dropdown-menu li:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}

.lp-dropdown-menu li:first-child a {
    border-left: none
}

.lp-dropdown-menu li:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}

.lp-dropdown-menu li:last-child a {
    border-right: 0
}

.lp-dropdown-menu a {
    border: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    outline: 0 !important
}

.lp-dropdown-menu.simple li, .lp-dropdown-menu.simple li a {
    border: 0;
    clear: both;
    display: block;
    line-height: 20px;
    padding: 0;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.lp-dropdown-menu.simple li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.05)
}

.lp-dropdown-menu.simple li:first-child {
    border-top-right-radius: 3px !important;
    border-bottom-left-radius: 0;
    border-top: none !important
}

.lp-dropdown-menu.simple li:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom: none !important
}

.lp-dropdown-menu.simple li a {
    display: inline-block;
    font-size: 13px;
    height: auto;
    line-height: 20px;
    padding: 6px 15px;
    text-align: left;
    text-transform: none;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.semiactive{
    margin: 1px 0px 0px 0px;
    color: #3b3b41;
    background: #fff;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    z-index: 20;
}


.nav-tabs.nav-stacked>li.active>a {
    border-color:#83d06a;
}



.nav-tabs.nav-stacked>li>a, .nav-tabs.nav-stacked>li>ul>li>a {
    color: #008000;
    text-shadow: 0 1px 0 #fff;
    padding:7px 0;
}

#sidebar-left{
    margin-left: .7%;
    /*-5px;*/
    margin-top: -26px;
}

#sidebar-left,
.nav-tabs.nav-stacked{
    max-width: 130px;
}


a#main-menu-toggle{
    border:0px;
    margin-top: 15px;
}


/*Main Container*/

#content{
    min-height: 1186px;
    border-color:#83d06a;
    padding-bottom: 20px;
    margin-top: -25px;
}

#content.span11{
    min-width: 89.4%;
}

#content.span12{
    min-width: 100%;
}

#content header{
    margin-bottom: 15px;
}


.tab-header-icons >span{
    margin:auto 5px;

}


.trends-chart-container {
    margin-left: 5%;
}





/*Popover*/

.popover{
    min-width:600px;
    margin-right: 30px;
    /*margin-left: -85%;*/
}


.view-attachments-modal {
    min-width:300px;
}

.view-attachments-modal .add-popover-actions > .pull-right{
    margin-right: 40px;
}

p{
    margin: 0 0 10px;
    margin-right: -40px;
}

.form-actions {
    padding: 10px 10px 20px;
    margin: -10px -10px -30px -10px;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

.edit-popover-actions > .pull-right,
.add-popover-actions > .pull-right{
    margin-right: 68px;
}



.popup-close {
    margin-top: -28px;
    margin-right: 10px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.popup-close:hover,
.popup-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

button.popup-close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}


.popover.bottom-left .arrow {
    top: -20px;
    left: 90%;
    border-bottom-color: rgba(0,0,0,0.75);

}

.popover.bottom-left .arrow:after {
    border-width: 0 11px 11px;
    border-bottom-color: #f7f7f7;
    top: 0px;
    left: -10px;
}

.commoneditpopover form,
.commonAddPopover form{
    padding-left:4%;

}




/*Modal */


.modal-header{
    padding:9px 30px;
    background: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body{
    padding:30px;
}

.modal-footer{
    padding:15px 30px 15px 30px;
    border-top: 0px;
    background: transparent;
}








/*Forms*/

.form-actions{
    background-color: transparent;
    border-top: transparent;
}


/*Grid*/

.standardGrid{
    -webkit-box-shadow:0px 0px 0px;
    box-shadow: 0px 0px 0px;
}




/*Table */


thead{

    vertical-align: top;
}

/*table td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}*/

table.wtgtable{
    margin: 0 auto;
}

.data-table >div {
    text-align: center;
}

.table-striped tbody > tr:hover >td{
    background:#e0f0cb;
}


.wtg-footer {
    height: 0px;
    min-height: 0px;
}
footer{
    background: url("img/nav_bg.jpg") 0 0 repeat;
    color: #fff;
    background-color: #262e30;
    margin: 20px 0px 0px -20px;}


/*Responsive*/

@media only screen and (max-width:3000px){
    .sidebar-nav > ul {
        margin:0px;
    }
}



@media only screen and (min-width: 979px) and (max-width: 1100px) {

    .brand >img{

    }

    #sidebar-left{
        margin-left: 2%;
    }

    .tab-text{
        display: none;
    }


    .navbar .brand{
        border-left: 0px solid #333;
    }

    .brand img{
        border-left: 0px solid #485a5c;
    }



}






@media only screen and (min-width: 768px) and (max-width: 979px) {

    #sidebar-left{
        margin-left: 2.8%;
    }


    .brand >img{
        width:160px;
    }

    .navbar .brand{
        /*border-left: 0px solid #333;*/
        border-left: 0px solid #485a5c
    }

    .brand img{
        margin-top: 5px;
        /*border-left: 0px solid #485a5c;*/
    }


    a#main-menu-toggle{

        margin-top: 15px;
    }




    /*Main Content*/
    #content{
        min-height: 866px;
    }


    /*Tab Menu*/

    .sidebar-nav > ul {
        margin:0px;
    }

    .tab-text{
        display: none;
    }


    /*Tab Content*/



    /*Popovers*/


    .popover{
        min-width:350px;

    }


    .commoneditpopover form [class*="span"],
    .commonAddPopover form [class*="span"]{
        width: 90%;
        margin-left: 0;
    }







}


@media only screen and (max-width: 767px) {


    .navbar .brand{
        /*border-left: 0px solid #333;*/
        border-left: 0px solid #485a5c
    }

    .brand img{
        /*border-left: 0px solid #485a5c;*/
    }


    /* #social-and-user-icon{

     max-width:500px;
     }
 */

    .brand >img{
        width:120px;
    }



    .tab-text{
        display: block;
    }


    .popover{
        min-width:350px;

    }

    .commonAddPopover{
        margin-left: -30%;
    }

    .commoneditpopover form [class*="span"],
    .commonAddPopover form [class*="span"]{
        width: 90%;
        margin-left: 0;
    }

}
.entriesfooter{
    width: 40%;
    float:left;
}
.paginator{
    float:right;
    width: auto;
    margin-top: -2%;
}
.commonSearchFilter{
    margin-top: -5%;
    float: right;
}
#recordsPerPage .label{
    width: auto;
    margin-top: 4%;
}
#recordsPerPage.label.select{
    width: auto;
}

/*Top-MessageBox*/

.overlay{
    position: fixed;
    margin-top: 25px;
    padding: 2px 50px 10px 10px;
    width: auto;
    height: 13px;
    z-index: 100;
    color: #000;
    top: -5px;
    font-weight: normal;
    text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px #2f4f4f;
    -moz-box-shadow: 0 8px 6px -6px #2f4f4f;
    box-shadow: 0 8px 6px -6px #2f4f4f;
}
.overlay-content{
    float: left;
    width: 100%;
}
.overlay-close {
    position: relative;
    top: -30px;
    right: -45px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 #ffffff;
    padding: 0;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    color: #000000;
    opacity: 0.2;
}

.overlay-close:hover, .overlay-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/*SlickGrid*/
.standardGrid
{
    border-radius: 0px;

}

.trends-help-icon{
    margin-top: 5px;
}

.halflings-icon {
    background-image: url(glyphicons_halflings.svg);
}

/*ModelPopOver*/
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .3;
    filter: alpha(opacity=30);
    z-index: 1006;
}

.modal.fade {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}?

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
 .uneditable-input:focus {
     border-color: rgba(77, 172, 168, 0.8);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(77, 172, 168, 0.6);
     outline: 0;
     outline: none;
 }

.header-modal {
    color: black;
    text-shadow:none;
    font-size: 14px;
    font-weight: normal;
}

/* Post-Login
=================================================================== */
.post-login-box {
    max-width:530px;
    margin: 0px auto;
    padding: 20px;
    background: #fff;
    color: #000;
    /* overflow: hidden;*/
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
    -moz-box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
    box-shadow: 0px 0px 0px 2px rgb(180, 232, 166);
}
.post-login-box h2 {
    color: #646464;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;
}
.post-login-box br {
    display: block;
    margin: 3px 0;
}

.post-login-box p {
    margin: 10px 30px;
    font-weight: normal;
}
.alink{
    color: #0000FF;
    text-decoration: none;
}

.post-login-box .button-login {
    margin-top: 2px;
    float: right;
}

.post-login-box .input-span12 {
    width: 495px;
}

/*Input focus images for validation*/

input:required:invalid{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKCAYAAABi8KSDAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARRJREFUeNpi+P//PwMS5gPiaf8hYDcQByHLwxiCUFz+fuvM/3cSVf8/7Y6HaQDJK4FoJgYGBsF/Xz++A2Egm48BClhFZUHUPSC++/v147tAWgmk2OXbtWMMDytcGD5sm1XFAlEEVvzp4Mq0R+XOSkAaJJTGCDR+5uuFtWlQAawApFGuc+89kGIDoBPO/3x4leHngysM77fPZgDywYoEvNIY2OW1GdgVdEAaSkHOuMDEzW/IqWU1C+g2sEKoexm+A53HpWUF4qcAuT2w0Jj5akENOBTu5Zj8//vlAzg0QPzHjYFgPii0mKDOWs1j6skAtIFBOKQERLeJxjeD+TwmHiC6AqjmPXKEtEJNaMXCB0UWA0CAAQCsQ9gRp6CXRwAAAABJRU5ErkJggg==');
    background-position: right center;
    background-repeat: no-repeat;
    /* -moz-box-shadow: none;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-transition: border linear 0.2s, box-shadow;*/
}
input:focus:invalid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
    background-position: right center;
    background-repeat: no-repeat;
    /*-moz-box-shadow: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow*/
}
input:required:valid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
    background-position: right top;
    background-repeat: no-repeat;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -webkit-transition: border linear 0.2s, box-shadow*/
}

.table th {
    padding: 5px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}

.table td {
    padding: 5px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

.icon-2x {
    font-size: 20px;
}

.icon-border {
    border-left: 1px solid #485a5c;
    /* padding-left: 5px;*/
    margin-right: -12px;
    padding-top: 9px;
}

.trends-border {
    margin-top: 10px;
    margin-right: 3px;
    /*padding-left: 5px;*/
    padding-top: 10px;

}

select.error, textarea.error, input.error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    /* border: 2px solid red;*/
}

input.form-text, select[multiple="multiple"] {
    border: 2px solid #E6E4DE !important;
}

/*DataGrid*/
.pagination {
    margin: 17px 0;
}

/*HEADER*/
.headerDropdown {
    color: #3b3b41;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 100%;
}?

.headerTextarea{
     color: #3b3b41;
     font-family: 'Open Sans',sans-serif;
     font-weight: 400;
     font-size: 14px;
 }


.tooltip{
    font-weight: 600;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

/*.tooltip-inner {background-color: #B4E8A6; color: #000;}

.tooltip.top .tooltip-arrow {border-top-color: #A6D69A;}

.tooltip.bottom .tooltip-arrow {border-bottom-color: #A6D69A;}

.tooltip.right .tooltip-arrow {border-bottom-color: #A6D69A;}

.tooltip.left .tooltip-arrow {border-bottom-color: #A6D69A;}*/

.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > ul > li > a {
    opacity:0.70;
    filter:alpha(opacity=70); /* For IE8 and earlier */
}

.nav-tabs.nav-stacked > li > a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav-tabs.nav-stacked > li > ul > li > a:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.nav-tabs.nav-stacked > li.active > a {
    border-color: #b4e8a6;
    opacity: 1;
    filter: alpha(opacity=100);
}
.nav-tabs.nav-stacked > li.active > ul {
    border-color: #b4e8a6;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #FCFCFC;
}

.input-left-adjfield{
    max-width: 100%;
}
.input-center-adjfield{
    width: 86%;
}
.input-currency-adjfield{
    max-width: 72%;
}
.input-inches-adjfield{
    max-width: 55%;
}

@media (min-width: 1200px) {
    .row-fluid .span1 {
        width: 7.9%;
    }
}

.container-fluid {
    padding-left: 15px;
    margin-top: 10px;
}

.chzn-container-single .chzn-single {
    height: 28px;
    line-height: 27px;
}
.chzn-container-single .chzn-single div {
    top: 5px;
}

[class^="icon-"], [class*=" icon-"] {
    width: 20px;
}
.table-icon{
    height: 24px;
    width: 24px;
}
.header-user-icon{
    height: 24px;
    width: 24px;
    margin-top: -10px;
}
.bottom-link{
    padding-top: 50px;
    text-align: right;
}

.header-feedback{
    margin: 0 0 0 0;
}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../img/sprite.png");
}
.chzn-container-single .chzn-single div b {
    background: url('../img/chosen-sprite.png') no-repeat 0 0;
}
.chzn-container-single .chzn-search input {
    background: #fff url('../img/chosen-sprite.png') no-repeat 100% -22px;
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    background: url('../img/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%);
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    outline: 0;
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 1em;
}

.modal-title {
    font-size: 14px;
    font-weight: normal;
}
.bottom-line{
    text-align: left;
    font-size: 10px;
    padding: 3px 0 10px;
    bottom: 0;
    position: absolute;
}


.accomplish_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -33px -132px;}
.activities_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -165px -66px;}
.doctor_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat 0 -33px; }
.expenses_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat 0 0; }
.familydoctor_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat 0 -66px;}
.journal_tab_icon2 { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -33px -33px;}
.livedat_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -66px 0;}
.manage_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -33px -99px;}
.manageuser_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -165px -99px; }
.monitor_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -99px -99px;  }
.mypurchases_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -165px -33px;}
.phygrowth_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -99px 0; }
.schooledat_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -66px -66px; }
.travelledto_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -132px 0; }
.trends_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -165px -132px;}
.attachments_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/attachments_tab_icon.png')}
.documents_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/documents_tab_icon.png')}
.events_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/events_tab_icon.png')}
.vaccinations_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/vaccinations_tab_icon.png')}

.money_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/money_tab_icon.png')}
.medical_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/medical_tab_icon.png')}
.tools_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/tools_tab_icon.png')}
.activities_sup_tab_icon { width: 32px; height: 32px; background:transparent url('../img/png/activities_sup_tab_icon.png')}


.expense_tab_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -99px -33px; }
.phygrowth_showtrends { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -132px -66px; }
.question_mark_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -33px -66px; }
.trends_icon { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -99px -132px; }
.wtg_icon_delete { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -132px -33px; }
.wtg_icon_edit { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -66px -99px; }
.wtg_icon_feedback { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -33px 0; }
.wtg_icon_settings { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -132px -132px; }
.wtg_icon_user { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat -132px -99px; }
.wtg_icon_userdisable { width: 32px; height: 32px; background:transparent url('../img/sprites.png') no-repeat: -99px -66px; }


.navbar-inner {
    border-bottom: 0 none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    filter: none;
    background: none repeat scroll 0 0 #242b35;
    background: url("img/nav_bg.jpg") 0 0 repeat;
}

.standardGrid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#content {
    border-color: #b4e8a6;
    background: #ffffff;
}

#popover-background{
    top: 0;
    left: 0;
    display: none;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    position: fixed;
    background: #fefefe;
    opacity: 0.10;
    z-index: 1009;
}
#popover-background.active{
    display: block; !important
}

.calendarControl{
    background: #fff; !important
    opacity: 1; !important
    filter: alpha(opacity=100);
}
.datepicker td span:hover, .datepicker td.day:hover {
background-color: #3875d7;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
background-image: -ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%);
color: #fff;
}
.datepicker {
border: 1px solid #aaaaaa !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
}
.datepicker th.next, .datepicker th.prev {
font-size: 16px;
}

footer .span12{
    text-align: center;
    font-size: 11px;
    color:#C0C0C0;
}

footer .span12 a{
    color:#C0C0C0;
}

footer .span12 a:hover{
    color:#FFF;
}


.callout {
    display: none;
    position:absolute;
    left: 55%;
    top: 8%;
    padding:20px;
    padding-right: 0px;!important
margin:0;
    color:#fff;
    background:#5a8f00; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background:-moz-linear-gradient(#b8db29, #5a8f00);
    background:-o-linear-gradient(#b8db29, #5a8f00);
    background:linear-gradient(#b8db29, #5a8f00);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    width: 40%;
}
/* creates the triangle */
.callout:before {
    content:"";
    position:absolute;
    bottom: 96%;
    left: 90%;
    border-width: 40px 30px 0px 0px;
    border-style:solid;
    border-color:transparent #b8db29;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.callout>p{
    width: 100%;
}

.admin-btnadj{
    margin-right: 50px;;
}
.manage-attachment-filter-label {
    color: #3b3b41;
    font-family: 'Open Sans',sans-serif;
}
.add-attachment {
    width: 91% !important;
}
.edit-attachment {
    width: 94% !important;
}

.manage-content .manage-usertab-a {
    background: url('../../css/img/png/manageuser_tab_icon.png') 0 0 no-repeat;
    padding-left: 50px;
}
.manage-content .manage-doctortab-a {
    background: url('../../css/img/png/familydoctor_tab_icon.png') 0 0 no-repeat;
    padding-left: 50px;
}