.trends-chart-container {
    min-height: 600px;
    float:left;
    margin-left: 20px;
}
.trends-header {
    float: left;
    margin-right: 1%;
}

#TRENDS-SECTION header h1 {
    width: 20% !important;
    float: left;
}
.trends-chart-group{
    line-height: 3.5;
    margin-left: 100px;
}
.dropdown {
    font-size: 12px;
    list-style: none;
}
.wtg-chart-tooltip {
    padding: 15px;
    background: #f2f2f2;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f2f2f2));
    background: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background: -moz-linear-gradient(top,#fff,#f2f2f2);
    background: -ms-linear-gradient(top,#fff,#f2f2f2);
    border-radius: 8px;
    box-shadow: 0 1px 6px 0 rgba(102,102,102,.6);
    color: #7a7a7a;
    display: table-cell;
    font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    zoom: 1;
}
.wtg-chart-tooltip tr {
    height: 20px;
}
.tooltip-username {
    color: #ad0000;
}
.tooltip-seperator {
    width:100%;
    border-top:1px solid rgb(220, 220, 220);
}
.wtg-tootip-value {
    color: #333;
    text-align: right;
    font-size: 16px;
}

.wtg-centered-tootip-value {
    color: #333;
    text-align: right;
    font-size: 18px;
}

.wtg-tootip-value-unit {
    color: #333;
    text-align: right;
    font-size: 11px;
}

div.pie-bar,div.line-column {
    float: right;
    position: relative;
    margin-right: 0.5%;
}
div.pie-bar a {
    vertical-align: middle;
    border: none;
    cursor: pointer;
    height: 32px;
    display: inline-block;
}
div.pie-bar .pie {
    background:transparent url('../img/sprites.png') no-repeat -99px -33px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}
div.pie-bar .pie:hover {
    opacity: 1.0;
}
div.pie-bar .bar {
    background:transparent url('../img/sprites.png') no-repeat -66px -33px;
    width: 32px;
     opacity: 0.5;
 }
div.pie-bar .bar:hover {
    opacity: 1.0;
}
div.pie-bar .pie.selected {
    background:transparent url('../img/sprites.png') no-repeat -99px -33px;
    cursor: default;
    opacity: 1.0;
}
div.pie-bar .bar.selected {
    background:transparent url('../img/sprites.png') no-repeat -66px -33px;
    cursor: default;
    opacity: 1.0;
}
input.chart-type-icons {
    cursor: pointer;
    background: transparent url('img/chart-icons.png')  no-repeat 0 0;
    width: 30px;
    height: 28px;
}
div.line-column .line {
    background:transparent url('../img/sprites.png') no-repeat -99px -132px; ;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: inline-block;
}
div.line-column .line:hover {
    opacity: 1.0;
}

div.line-column .line.selected {
    background:transparent url('../img/sprites.png') no-repeat -99px -132px; ;
    opacity: 1.0;
    cursor: default;
    width: 32px;
    height: 32px;
    display: inline-block;
}

div.line-column .column,
div.pie-bar-column .column{
    background:transparent url('../img/sprites.png') no-repeat -165px 0;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: inline-block;
}

div.line-column .column:hover{
    opacity: 1.0;
}
div.pie-bar-column .column:hover{
    opacity: 1.0;
}

div.growth-help input[type=button].line.selected {
    background-position: -207px 0;
    border-right: 1px solid #cccdcc;
    cursor: default;
    width: 30px;
    height: 28px;
}

div.line-column .column.selected,
div.pie-bar-column .column.selected{
    background:transparent url('../img/sprites.png') no-repeat -165px 0;
    cursor: default;
    opacity: 1.0;
}
input.chart-icons {
    cursor: pointer;
    background: transparent url('img/chart-icons.png')  no-repeat 0 0;
    width: 20px; 
    height: 20px;
    margin-left: 3px;
}
.trends-date-slider{
    width: 200px;
    top: -490px;
    height: 15px;
    margin-left: 10px;
}
.compare-with-others {
    cursor: pointer;
    margin-left: 10px;
}
.trends-grid {
    margin-left: 30px;
    margin-right: 30px;
}
.trends-chart-chooser a {
    cursor: pointer;
}

.print-pdf-image {
    float: right;
}
.print-pdf-image a:hover{
    opacity: 1.0;
}
.print-pdf-image a{
    opacity: 0.8;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inline-block;
}
.print-pdf-image .print {
    background:transparent url('../img/sprites.png') no-repeat -66px -132px;
}
.print-pdf-image .file {
    background:transparent url('../img/sprites.png') no-repeat 0 -99px;
}
.print-pdf-image .download-alt {
    background:transparent url('../img/sprites.png') no-repeat 0 -132px;
}
.print-pdf-image .growth-help {
    background:transparent url('../img/sprites.png') no-repeat -33px -66px;
}