
table {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, td, th {
    vertical-align: middle;
    outline: 0;
    outline: none;
}

table.wtgtable {
    margin: 0 0 10px 0;
}

tr {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: Calibri;
    vertical-align: baseline;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table.wtgtable {
    margin: 0 25px 0 0;
    width: 430px;
}

thead {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table.wtgtable thead {
    color: #685C53;
    font-family: "Lucida Grande",verdana,sans-serif;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

tfoot{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table.wtgtable .wtgtable-foot {
    border-bottom: 1px solid #ccc;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

table.wtgtable tbody, table.wtgtable tfoot th {
    font-size: 11px;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}

strong, th, thead td, h3, .bold {
    font-weight: bold;
}

table.wtgtable td, table.wtgtable th {
    line-height: normal;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-top: 6px;
    vertical-align: top;
}

table.wtgtable thead th, table.wtgtable thead td {
    color: #6f655d;
    border-bottom: 1px solid #e0e0dc;
    padding: 0 0 3px 5px;
    vertical-align: bottom;
}

table.wtgtable tr th {
    padding-left: 18px;
}

table.wtgtable tr th {
    color: #3b3b41;
    font: 14px 'Open Sans',sans-serif;
    font-weight: 400;
    padding-left: 0;
}


table.wtgtable thead tr th, table.wtgtable thead tr td, table.wtgtable tfoot tr th, table.wtgtable tfoot tr td {
    border: none;
}

table.wtgtable .wtgtable-head th, table.wtgtable .wtgtable-head td {
    background-color: #3B3B41;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
  /*  font: 10px Georgia;*/
}

table.wtgtable .wtgtable-heading td {
    color: #3B3B41;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    /*  font: 10px Georgia;*/
}

table.wtgtable td {
    text-align: right;
}

table.wtgtable td {
    color: #382d24;
}

table.wtgtable td {
    color: #3b3b41;
    font: 14px 'Open Sans',sans-serif;
    font-weight: 400;
    padding-left: 5px;
}

table.wtgtable .wtgtable-head th, table.wtgtable .wtgtable-head td {
    color: #fff;
  /*  font: 10px Georgia;*/
}

table.wtgtable tfoot tr.totals th, table.wtgtable tfoot tr.totals td {
    font: 20px 'Open Sans',sans-serif;
}

table.wtgtable tfoot tr.totals th {
    color: #333;
    font-size: 14px;
}

table.wtgtable .wtgtable-foot td, table.wtgtable .wtgtable-foot th {
    background-image: none;
    height: auto;
    padding-bottom: 0;
}

table.wtgtable tfoot tr.totals td {
    color: #333;
    font-weight: 600;
}

.wtgtable-entries tr {
    background: transparent url(../img/dotted_line.png) repeat-x 1px 27px;
}

table.wtgtable tbody tr th, table.wtgtable tr.up th, table.wtgtable tr.down th, table.wtgtable tr.unchanged th {
    background: none;
}

table.wtgtable tbody td, table.wtgtable tbody th {
    border-top: 1px dashed #dedede;
}

table.wtgtable tr th, table.wtgtable tr td {
    border-top: none;
    height: 19px;
}

.table th {
    font-weight: 600;
    font-size: 15px;
    font-family: Calibri;
    font-style: normal;
}


/*
div.data-table h1 {
    color: #333;
    font: 18px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 0;
}*/


.standardGrid {
    margin: 0 auto;
    font-family: Calibri;
    padding: 0.5em 1em 1em 1em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    width:auto;
    height:700px;
    margin-top: -16px;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;!important
}