.tp-dropdown-menu{
    transition: background-color 0.3s ease;
}


.tp-dropdown-menu li, .tp-dropdown-menu a {
    display: block;
    list-style: none;
    position: relative;
    width: 50px;
    height: 40px;
    padding-top: 5px;
}

.tp-dropdown-menu a {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.tp-dropdown-menu a span {
    display: block;
    position: absolute;
    color: #999;
    font-size: 2.5em;
    margin-top: -5px;
    width: 50px;
    height: 40px;
}

.tp-dropdown-menu, .tp-dropdown-menu a {
    color: #86B471;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    /* text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;*/
    text-transform: uppercase
}

/*.tp-dropdown-menu a, .tp-dropdown-menu a span {
    text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}*/

.tp-dropdown-menu a:hover, .tp-dropdown-menu .tp-dropdown-toggle.open, .tp-dropdown-menu a:hover span, .tp-dropdown-menu .tp-dropdown-toggle.open span {
    color: #7C6684;

}

.tp-dropdown-menu li.active>a, .tp-dropdown-menu li.active>a span {
    color: #86B471;

}

.tp-dropdown-menu li.active>a, .tp-dropdown-menu .tp-dropdown-toggle.open {
    border-top: none !important;
    background: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 6px inset !important
}

.tp-dropdown-menu a:first-child {
    -webkit-box-shadow: #1d1d1d 0 -1px 0;
    -moz-box-shadow: #1d1d1d 0 -1px 0;
    box-shadow: #1d1d1d 0 -1px 0
}

.tp-dropdown-menu a:last-child {
    -webkit-box-shadow: #323232 0 1px 0;
    -moz-box-shadow: #323232 0 1px 0;
    box-shadow: #323232 0 1px 0
}


.tp-dropdown-wrapper.simple, .tp-dropdown-menu.simple, .tp-dropdown-menu.simple li, .tp-dropdown-menu.simple ul {
    margin: 0;
    height: auto;
    padding: 0
}

.tp-dropdown-wrapper {
    position: absolute;
    z-index: 1012;
    display: none;
    left: 35%;
    top: 30%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    border-radius: 5px;!important
}
.tp-dropdown-wrapper:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #e0f0cb 10px;
    bottom: -10px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 0;

}
.tp-dropdown-wrapper.open, .tp-dropdown-wrapper .tp-dropdown-menu {
    display: block
}

.tp-dropdown-wrapper .tp-arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;

    border-top: 6px solid #DFE9BD;
    left: 50%;
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.tp-dropdown-menu {
    display: none;
    margin: 0 !important;
    overflow: hidden
}

.tp-dropdown-menu li {
    background: #e0f0cb;
    float: left
}

.tp-dropdown-menu li:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px
}

.tp-dropdown-menu li:first-child a {
    border-left: none;

}

.tp-dropdown-menu li:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px
}

.tp-dropdown-menu li:last-child a {
    border-right: 0
}

.tp-dropdown-menu a {
    border: 0;
    outline: 0 !important
}

.tp-dropdown-menu.simple li, .tp-dropdown-menu.simple li a {
    border: 0;
    clear: both;
    display: block;
    padding: 0;
    width: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.tp-dropdown-menu.simple li {
}

.tp-dropdown-menu.simple li:first-child {
    border-top-right-radius: 3px !important;
    border-bottom-left-radius: 0;
    border-top: none !important
}

.tp-dropdown-menu.simple li:last-child {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom: none !important
}

.tp-dropdown-menu.simple li a {
    display: inline-block;
    font-size: 13px;
    height: auto;
    padding: 6px 15px;
    text-align: left;
    text-transform: none;
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.picker.modal-dialog-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 1020;
}

